# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [43]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [44]:
df_path = "dataset_part_2_profe.csv"
df = pd.read_csv(df_path)

DONDE ESTA MI LINK DE CONEXION:

linkConexion = 'mysql+mysqlconnector://alumno:*385bd4cf713a8a36*@**52.47.172.110/'** + nombreBD 

*   entrar desde internet: http://52.47.172.110/phpmyadmin/
*   Usurario: alumno
*   contraseña: 385bd4cf713a8a36

In [50]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'MiriamLopez_2'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@52.47.172.110/' + nombreBD 
#Establecemos la conexión
engine = create_engine(linkConexion)

In [51]:
if not database_exists(engine.url):
    create_database(engine.url)

In [52]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL' , con=engine)

In [63]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df.head(20)

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
5,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0
6,6,7,2014-04-18,Falcon 9,2296.000000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,0,0,1,None,1.0,NASA (CRS),1,0,B1006,-80.577366,28.561857,1
7,7,8,2014-07-14,Falcon 9,1316.000000,Orbcomm-OG2-M1,LEO,CCSFS SLC 40,True Ocean,1,0,0,1,None,1.0,Orbcomm,1,0,B1007,-80.577366,28.561857,1
8,8,9,2014-08-05,Falcon 9,4535.000000,AsiaSat 8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,AsiaSat,1,0,B1008,-80.577366,28.561857,0
9,9,10,2014-09-07,Falcon 9,4428.000000,AsiaSat 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,AsiaSat,1,0,B1011,-80.577366,28.561857,0
10,10,11,2014-09-21,Falcon 9,2216.000000,CRS-4,ISS,CCSFS SLC 40,False Ocean,1,0,0,0,None,1.0,NASA (CRS),1,0,B1010,-80.577366,28.561857,0
11,11,12,2015-01-10,Falcon 9,2395.000000,CRS-5,ISS,CCSFS SLC 40,False ASDS,1,1,0,1,5e9e3032383ecb761634e7cb,1.0,NASA (CRS),1,0,B1012,-80.577366,28.561857,0
12,12,13,2015-02-11,Falcon 9,570.000000,DSCOVR,ES-L1,CCSFS SLC 40,True Ocean,1,1,0,1,None,1.0,"NASA,NOAA,USAF",1,0,B1013,-80.577366,28.561857,1
13,13,14,2015-04-14,Falcon 9,1898.000000,CRS-6,ISS,CCSFS SLC 40,False ASDS,1,1,0,1,5e9e3032383ecb761634e7cb,1.0,NASA (CRS),1,0,B1015,-80.577366,28.561857,0
14,14,15,2015-04-27,Falcon 9,4707.000000,TürkmenÄlem 52°E / MonacoSAT,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Turkmenistan National Space Agency,1,0,B1016,-80.577366,28.561857,0
15,15,16,2015-06-28,Falcon 9,2477.000000,CRS-7,ISS,CCSFS SLC 40,None ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,1.0,NASA (CRS),0,0,B1018,-80.577366,28.561857,0
16,16,17,2015-12-22,Falcon 9,2034.000000,Orbcomm-OG2-M2,LEO,CCSFS SLC 40,True RTLS,1,1,0,1,5e9e3032383ecb267a34e7c7,1.0,Orbcomm,1,0,B1019,-80.577366,28.561857,1
17,17,18,2016-01-17,Falcon 9,553.000000,Jason-3,PO,VAFB SLC 4E,False ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,1.0,"NASA,NOAA",1,0,B1017,-120.610829,34.632093,0
18,18,19,2016-03-04,Falcon 9,5271.000000,SES-9,GTO,CCSFS SLC 40,False ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,1.0,SES,1,0,B1020,-80.577366,28.561857,0
19,19,20,2016-04-08,Falcon 9,3136.000000,CRS-8,ISS,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,2.0,NASA (CRS),1,1,B1021,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

Como hacer SQL dentro de PYTHON:

Estructura:
1. query = """select * from NOMBRE_TABLA;""" 
2. df  = pd.read_sql(query, con = engine )
   df

Expicacion: 
1. le doy un nombre query a mi query
y se programa con lenguaje SQL todo lo que vaya entre """    ;"""

2. Me creo un DataFrame , que use pandas que tiene una funcion que lee los SQL y le digo que se llama query y que establezca conexion con engine.

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [54]:
query = """select Payload 
          from SPACEXTBL;"""      #codigo SQL

df  = pd.read_sql(query, con = engine )
df

                      Payload
0   Dragon Qualification Unit
1          COTS Demo Flight 2
2                       CRS-2
3                    CASSIOPE
4                       SES-8
..                        ...
85                Starlink-11
86                Starlink-12
87                Starlink-13
88                Starlink-14
89   GPS III SV04 (Sacagawea)

[90 rows x 1 columns]

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [55]:
query = """SELECT LaunchSite	 
FROM SPACEXTBL 
WHERE LaunchSite like '%CCS%' 
LIMIT 5 ;""" 

df = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

## Ejercicio 3

##### Muestra la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [58]:
query = """SELECT 
            sum(CASE 
                  WHEN Customers like '%NASA (CRS)%' THEN PayloadMass
                  END)AS suma_NASA
          FROM SPACEXTBL;""" 

df = pd.read_sql(query, con = engine )
df

   suma_NASA
0    47094.7

In [59]:
query = """SELECT 
            sum(PayloadMass) AS suma_NASA
          FROM SPACEXTBL
          WHERE Customers like '%NASA (CRS)%'
          ;""" 

df = pd.read_sql(query, con = engine )
df

   suma_NASA
0    47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [62]:
query = """SELECT 
            AVG(PayloadMass) AS media_NASA
          FROM SPACEXTBL
          WHERE Serial like 'B1%'
          ;""" 

df = pd.read_sql(query, con = engine )
df

    media_NASA
0  6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [65]:
query = """SELECT
            Date
          FROM SPACEXTBL
          WHERE LandingOutcome LIKE '%True RTLS%'
          GROUP BY DATE 
          LIMIT 1 ;""" 

df = pd.read_sql(query, con = engine )
df

         Date
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia